/* Reset básico e estilos globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}


header{
    width: 100%;
    height: 130px; /* Altura fixa (substitui o max-height) */
    margin: 0 auto;
}

.Bar{    /*class referente a toda a barra de navegação*/
  position: relative;
  border-bottom: 1px solid rgba(14, 13, 13, 0.2);
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content:space-around;
  padding: 10px;
  z-index: 1;
  background-image: url("../img/fundobar4.jpg");
  background-size: cover;
}


.NavBar{
    display: flex;
    align-items: center;
}


.apresentacao{
  font-size: 3.2em;
  text-align: center;

}

#fraseefeito{
    color: rgb(230, 240, 238);
}

#cargo{
    font-size: clamp(22px, 2.5vw, 70px);
    text-align: center;

}

main{
    max-width: 1522px;
    width: 100%;
    margin: 0 auto;
}

.pag1 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fcfdfd;
}


#Log{ 
    font-size: clamp(22px, 1.8vw, 60px);
    font-family: "Ranchers", sans-serif;
}

#logideia{
  text-align: center;
  padding-bottom: 2px;
  color: rgb(249, 152, 16);
}


.botao{ /*class atribuida a todos botões da barra de navegação*/
    font-size: clamp(20px, 1.8vw, 60px);
    padding: 1px 4px;
    border: 2px solid #f5f2f7; /* Roxo escuro */
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease;
    font-family: "Ranchers";
}

.botaonav{
    display: flex; /* ajusta a distancia entre os botões da barra de navegação*/
    gap: 30px; /* ajusta a distancia entre os botões da barra de navegação*/
}
.botao:hover {
    background-color: #6a0dad;
    color: white;
    box-shadow: 0 0 10px rgba(106, 13, 173, 0.5);
}

#Minhafoto{
    max-width: 580px;
    width: 78%;
    height: auto; /* Mantém proporção */
}

#divcontato{
    border: none;
    border-radius: 7px;
    padding-top: 20px;
    text-align: center;
   
    
}
#entraremcontato{
    text-decoration: none;
    border-radius: 6px;
    background:  #5b02ea;
    color: rgb(255, 255, 255);
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-size: 32px;
    border: 1px black solid;
    
}
#divtexto{
    background: rgba(255, 255, 255, 0.1); /* Fundo transparente */
    backdrop-filter: blur(10px); /* Efeito glacial */
    -webkit-backdrop-filter: blur(10px); /* Suporte Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borda leve */
    border-radius: 15px;
    padding: 1rem;
    position:relative;
    top: -30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}


body{
  font-family: "Poppins", sans-serif;
}


/* Estilização do botão hamburguer */
.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    color: rgb(255, 254, 254); /* estava branco, mas o fundo é claro */
    position: absolute;
    right: 1rem;

    z-index: 20;
  }
  
  /* Menu padrão */
  .NavBar {
    display: flex;
  }

  .pag2{
    width: 100%;
    justify-content: space-around;
    position: relative;
    height: 800px;
    justify-items: center; /*alinha o quadrado na horizontal*/
    display: flex;
    align-items: center; /* alinha os itens na vertical */
    background-color: #131936;
  }

  .quadrado{
    width: 95%;
    border: radius 10px; ;
    height: 95%;
    display: flex;
    
  }

  .carrosel{
    width:100%;
    height: 100%;
  }

  .links{
    width:100%;
    height: 100%;
    background-image:url('../img/fundolink.jpg');
    background-position: center;  
    overflow: hidden;
    background-size: cover;
    border-radius: 5px; 
    align-items: center;/*alinha horizintalmente*/
    justify-content: center; /*alinha verticalmente*/
    display: flex;
  }

  .conteudo{
    text-align: center;
    width: 84%;
    height: 84%;
    background-color: rgba(5, 5, 5, 0.608); /* preto com 50% de transparência */
    padding: 20px;
    border-radius: 10px;
    color: white; /* exemplo para contraste */
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .carrosel-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .carrosel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 88%;
    height: 90%;
    scrollbar-width: none;
    position: relative; /* permite posicionar os botões internamente */
    border-radius: 10px;

    transition: transform 0.4s ease, box-shadow 0.3s ease;
transform: translateY(0px);
  }

  .carrosel:hover {
    transform: translateY(-3px); /* eleva um pouquinho */
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.25);}
  
  .carrosel::-webkit-scrollbar {
    display: none;
  }
  
  .slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c98de0c;
  }
  
  .slide1 {
     flex-direction: column;
     text-align: center;
  }
  .slide2 {
     flex-direction: column;
     text-align: center;
     }
  .slide3 {
     flex-direction: column;
     text-align: center;
     }
  
  .btn {
    position: absolute;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .prev { left: 1px; }
  .next { right: 1px; }
  
  .tituloslide{
    font-size: 3.2vw;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .listaslide{
    font-size: 1.4vw;
    color: #ffffff;
    margin: 10px 0;
    text-align: justify;
    width: 480px;
  }

  .listalink {
    list-style: none;           /* remove os pontinhos da lista */
    padding: 50px;
    justify-content: center;   /* centraliza */
    display: flex;
    gap: 50px;
    width: 100%;
    flex-direction: column;
    align-content: space-between;   /* ou center, se quiser centralizado */
  }
  
  .listalink li a {
    text-decoration: none;
    color: white;                /* ou outra cor que combine com seu fundo */
    font-weight: bold;
    font-size: clamp(15px, 1.8vw, 60px);
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    transition: background 0.3s ease, color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1); /* leve fundo transparente */
  }
  
  .listalink li a:hover {
    background-color: white;
    color: black;
  }
  

 
  
  /* menu em mobile */
  @media (max-width: 768px) {
    .Bar {
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0 1rem;
      position: relative;
    }

    .pag1 {
      flex-direction: column;
      /* Opcional: centralizar conteúdo quando empilhado */
      align-items: center;
      justify-content: center;
  }

    .apresentacao {
        font-size: 38px;
      }
  
    .NavBar {
      display: flex;
      flex-direction:column;
      background-color: #0e427e;
      width: 100%;
      position: absolute;
      top: 76px;
      left: 0;
      z-index: 10;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-in-out;
    }
  
    .NavBar.active {
    max-height: 40px;
    }
  
    .botaonav {
     display: flex;
     align-items: center;
    }
  
    .botao {
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 0.1rem;
      border-bottom: 2px solid #0f0c0c;
      background-color: #f8fafc;
      font-weight: bold;
    }

    .botao:hover {
      background-color: #333;
    }

    .menu-toggle {
    display: block;
  }


  #divtexto{
    width: 98%;
    text-align: center;
  }

  .pag2 {
    flex-direction: column;
    height: auto;
    margin: 0 auto;
   
  }

  .quadrado{
    flex-direction: column; /* empilha verticalmente */
    align-items: center; /* opcional, centraliza na vertical */
    height: 720px;;
  }

  .links{
    width:100%;
    height: 100%;
    background-color: rgb(255, 174, 0);
  }

  .tituloslide{
    font-size: 21px;
  }


  .listaslide{
    font-size: 3.5vw;
    margin: 0;
    width: 250px;
  
  }

  .slide1{text-align: center;}
  .slide2{text-align: center;}
  .slide3{text-align: center;}
 
  .conteudo{
    font-size: 4vw;
    
  }
  .listalink{
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;      /* Muda para linha */
    flex-wrap: wrap;          /* Permite quebra de linha */
    justify-content: space-around; /* Distribui igualmente */
    align-items: center;
  }

  .textolink{
    padding-top: 10px;
    padding-bottom: 12px;
  }

  }


  /* RESOLUÇÃO PARA TABLETS*/
  @media (min-width: 600px) and (max-width: 1024px) {
    #Minhafoto {
      max-width: 380px;
      height: auto;
    }

    #divtexto{
       top: -10px;
       width: 370px;
    }

    .quadrado{
      flex-direction: column; /* empilha verticalmente */
      align-items: center; /* opcional, centraliza na vertical */
    }

    .tituloslide{
      font-size: 5.5vw;
    }
  
  
    .listaslide{
      font-size: 2.8vw;
      margin: 0;
    }

    .conteudo{
      padding: 0;
    }

    .listalink{
      display: flex;
      gap: 15px;
    }
   

  }
